@font-face
{
font-family: manteka;
src: url('../lib/fontface/manteka.ttf');
}
*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
	font-family: 微软雅黑;
	color: black;
	box-sizing: border-box;
}
section{
	clear: both;
}
.padding108{
	height: 108px;
}
@media screen and (min-width: 1366px){
	.main-part{
		margin: 0 auto;
		/*width: 1200px;*/
	}
}
header{
	height: 128px;
}
.logo{
	float: left;
	width: 400px;
	height: 100%;
}
.xjsu-logo{
	margin-top: 36.5px;
}
.right-side{
	margin-left: 400px;
	height: 100%;
	/*color: #edf0ef;*/
}
.tech-support{
	height: 48px;
	background-color: #edf0ef;
}
.tech-support > img{
	float: right;
}
.ts-title{
	font-size: 12px;
	float: right;
}
.tt-divide{
	color: #acbfba;
}
nav{
	background-color: #f7faf9;
}
.nav-title{
	float: right;
	padding: 0 24px;
	width: 132px;
	height: 80px;
	font-size: 16px;
	line-height: 80px;
	text-align: center;
}
.carousel-bg{
	position: absolute;
	overflow: hidden;
}
.carousel-bg ul{
	display: block;
	transition: margin 3s;
}
.carousel-bg a{
	float: left;
	display: block;
	cursor: pointer;
}
/*.carousel-img{
	cursor: pointer;
}*/
carousel{
	display: block;
}
.carousel-index{
	margin: 36px 0 108px 0;
}
.carousel-index li{
	cursor: pointer;
}
/*flex已兼容*/
.index ul{
	margin: 0 auto;
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.index li{
	margin: 0 6px;
	width: 48px;
	height: 48px;
	font-family: montserrat;
	font-weight: bold;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
}
.carousel-index li{
	border: 4px solid #fff;
}
.index li.c-active{
	border: 4px solid #29a687;
}
.index li a{
	color: #acbfba;	
}
.main-title{
	border: 6px solid #26997c;
	width: 132px;
	height: 96px;
	font-size: 24px;
	font-weight: bold;
	line-height: 42px;
	text-align: left;
}
.title-left{
	float: left;
}
.title-right{
	float: right;
}
.main-title p{
	/*writing-mode: rl-tb;*/
	text-indent: 13px;
	color: #26997c;
}
p.mt-number{
	font-family: manteka;
	font-size: 32px;
}
.news-title{
	margin-top: 36px;
	background-color: #f7faf9;
}
.news-padding{
	height: 24px;
	background-color: #f7faf9;
}
.news-title-left, .news-title-right{
	height: 108px;
	background-color: #f7faf9;
}
.news-title-left{
	float: left;
	padding-left: 36px;
}
.news-title-right{
	float: right;
	padding-right: 36px;
}
.nt-word{
	font-size: 18px;
	font-weight: bold;
}
.news-time{
	margin-top: 36px;
	font-size: 12px;
	color: #dbe4e1;
}
.ti-padding{
	height: 8px;
}
.content-index{
	float: right;
	width: 252px;
	height: 64px;
	background-color: #edf0ef;
}
.content-index .index{
	float: left;
	width: 144px;
}
.content-index ul{

}
.content-index li{
	cursor: pointer;
}
.ni-a1{
	margin-top: 8px;
}
.pw-content{
	margin-top: 36px;
	height: 396px;
	overflow: hidden;
	background-color: #f7faf9;
}
.pw-content ul{

}
.pwi{
	margin-top: 54px;
	padding: 0 30px;
	width: 420px;
	height: 288px;
	float: left;
}
.group{
	margin-top: 108px;
}
.group-intro{
	margin-top: 36px;
	height: 252px;
	background-color: #f7faf9;
}
.gi-title-wrap{
	font-size: 22px;
	font-weight: bold;
}
.gi-title{
	color: #29a687;
}
.activity{
	margin-top: 108px;
}
.serc-title li{
	float: left;
}